body 
{
    margin: 0;
    background-color: #f5f3f0;
    font-family: Verdana, sans-serif;
}

#topnav 
{
    background-color: lightgray;
    text-align: left;
    width: 100%;
    font-size: 40px;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.insertModal
{
  display: none
}